<template id="template">
    <style>
        .badge {
            width: 100%;
            border-radius: 10px;
            border: 3px solid crimson;
            background: crimson;
            height: 350px;
        }
        .badge-header {
            width: 100%;
            padding: 20px 0;
        }
        .badge-header h1, .badge-header h2 {
            color: white;
            text-align: center;
            margin: 0;
            font-family: Arial;
        }
        ::content h3 {
            text-align: center;
            margin: 0;
            color: blueviolet;
            font-family: cursive;
            font-size: 5em;
        }
        .badge-content {
            height: 200px;
            background: white;
        }
    </style>
    <div class="badge">
        <div class="badge-header">
            <h1>Hello</h1>
            <h2>My name is:</h2>
        </div>
        <div class="badge-content">
            <content></content>
        </div>
    </div>
</template>
<script>
    var createElement = function(tagName, templateId, basePrototype) {
        basePrototype = basePrototype || HTMLElement.prototype;
        var template;
        if (document._currentScript) {
            template = document._currentScript.ownerDocument.getElementById(templateId).content;
        } else {
            template = document.currentScript.ownerDocument.getElementById(templateId).content;

        }
        var customElementPrototype = Object.create(basePrototype);
        customElementPrototype.createdCallback = function() {
            var shadowRoot = this.createShadowRoot();
            var clone = document.importNode(template, true);
            shadowRoot.appendChild(clone);
        };
        return document.registerElement(tagName, {
            prototype: customElementPrototype
        });
    };
    createElement('very-cool-hello-badge', 'template');
</script>